@import "tailwindcss";

/* Di Tailwind v4, kamu tidak butuh lagi tulisan:
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  Cukup satu baris @import di atas, semua class Tailwind sudah aktif.
*/

/* (Opsional) Jika kamu mau tulis CSS custom sendiri, tulis di bawah sini: */
:root {
  --background: #000000;
  --foreground: #b3b1b1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}